@model EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <!-- Single Form Heading -->
    <h1 class="form-heading text-center">Edit Employee</h1>
    <hr class="custom-hr mb-4">

    <form asp-action="Edit">
        <!-- Personal Information Section -->
        <fieldset class="mb-4">
            <legend class="section-heading">Personal Information</legend>
            <div class="row g-3 form-group">
                <div class="col-md-4 form-group">
                    <label asp-for="Emp_Code" class="form-label"></label>
                    <input asp-for="Emp_Code" class="form-control input-field" readonly />
                    <span asp-validation-for="Emp_Code" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="DepartmentId" class="form-label"></label>
                    <input asp-for="DepartmentId" class="form-control input-field" readonly />
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Designation" class="form-label"></label>
                    <input asp-for="Designation" class="form-control input-field" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control input-field" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control input-field" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="EmployeeName" class="form-label"></label>
                    <input asp-for="EmployeeName" class="form-control input-field" />
                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control input-field" type="number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="EmergencyContact" class="form-label"></label>
                    <input asp-for="EmergencyContact" class="form-control input-field" type="number" />
                    <span asp-validation-for="EmergencyContact" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="EmergencyRelation" class="form-label"></label>
                    <input asp-for="EmergencyRelation" class="form-control input-field" />
                    <span asp-validation-for="EmergencyRelation" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="CurrentAddress" class="form-label"></label>
                    <input asp-for="CurrentAddress" class="form-control input-field" />
                    <span asp-validation-for="CurrentAddress" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="PermanentAddress" class="form-label"></label>
                    <input asp-for="PermanentAddress" class="form-control input-field" />
                    <span asp-validation-for="PermanentAddress" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control input-field" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="PersonalEmail" class="form-label"></label>
                    <input asp-for="PersonalEmail" class="form-control input-field" />
                    <span asp-validation-for="PersonalEmail" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="PAN_Number" class="form-label"></label>
                    <input asp-for="PAN_Number" class="form-control input-field" readonly />
                    <span asp-validation-for="PAN_Number" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AadharNumber" class="form-label"></label>
                    <input asp-for="AadharNumber" class="form-control input-field" type="number" readonly />
                    <span asp-validation-for="AadharNumber" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="DateOfBirth" class="form-label"></label>
                    <input asp-for="DateOfBirth" type="Date" class="form-control input-field" readonly />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="DateOfCelebration" class="form-label"></label>
                    <input asp-for="DateOfCelebration" type="Date" class="form-control input-field" />
                    <span asp-validation-for="DateOfCelebration" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="LinkedInProfile" class="form-label"></label>
                    <input asp-for="LinkedInProfile" class="form-control input-field" />
                    <span asp-validation-for="LinkedInProfile" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Division" class="form-label"></label>
                    <input asp-for="Division" class="form-control input-field" />
                    <span asp-validation-for="Division" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="BloodGroup" class="form-label"></label>
                    <select asp-for="BloodGroup" class="form-control input-field">
                        <option value="">-- Select Blood Group --</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="JoiningDate" class="form-label"></label>
                    <input asp-for="JoiningDate" type="date" class="form-control input-field" readonly />
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
            </div>
        </fieldset>

        <!-- Account Details Section -->
        <fieldset class="mb-4">
            <legend class="section-heading">Account Details</legend>
            <div class="row g-3 form-group">
                <div class="col-md-4 form-group">
                    <label asp-for="AccountHolderName" class="form-label"></label>
                    <input asp-for="AccountHolderName" class="form-control input-field" />
                    <span asp-validation-for="AccountHolderName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="BankName" class="form-label"></label>
                    <input asp-for="BankName" class="form-control input-field" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="BankAccountNumber" class="form-label"></label>
                    <input asp-for="BankAccountNumber" class="form-control input-field" type="number" />
                    <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="IFSCCode" class="form-label"></label>
                    <input asp-for="IFSCCode" class="form-control input-field" />
                    <span asp-validation-for="IFSCCode" class="text-danger"></span>
                </div>
            </div>
        </fieldset>

        <!-- Family Details Section -->
        <fieldset class="mb-4">
            <legend class="section-heading">Family Details</legend>
            <div class="row g-3 form-group">
                <div class="col-md-4 form-group">
                    <label asp-for="MotherName" class="form-label"></label>
                    <input asp-for="MotherName" class="form-control input-field" />
                    <span asp-validation-for="MotherName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="FatherName" class="form-label"></label>
                    <input asp-for="FatherName" class="form-control input-field" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="SpouseName" class="form-label"></label>
                    <input asp-for="SpouseName" class="form-control input-field"data-val="false" />
                   @*  <span asp-validation-for="SpouseName" class="text-danger"></span> *@
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="ChildrenNames" class="form-label"></label>
                    <input asp-for="ChildrenNames" class="form-control input-field" data-val="false"/>
                    @* <span asp-validation-for="ChildrenNames" class="text-danger"></span> *@
                </div>
            </div>
        </fieldset>

        <!-- Previous Employment Section -->
        <fieldset class="mb-4">
            <legend class="section-heading">Previous Employment</legend>
            <div class="row g-3 form-group">
                <div class="col-md-4 form-group">
                    <label asp-for="PreviousCompanyName" class="form-label"></label>
                    <input asp-for="PreviousCompanyName" class="form-control input-field" />
                    <span asp-validation-for="PreviousCompanyName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Tenure" class="form-label"></label>
                    <input asp-for="Tenure" class="form-control input-field" />
                    <span asp-validation-for="Tenure" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="ReportingManager" class="form-label"></label>
                    <input asp-for="ReportingManager" class="form-control input-field" />
                    <span asp-validation-for="ReportingManager" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="LatestCompanyReference" class="form-label"></label>
                    <input asp-for="LatestCompanyReference" class="form-control input-field" />
                    <span asp-validation-for="LatestCompanyReference" class="text-danger"></span>
                </div>
            </div>
        </fieldset>

        <!-- Submit Button -->
        <div class="text-center button-group">
            <button type="submit" class="btn btn-primary btn-custom">Save</button>
            <a asp-action="Index" class="btn btn-secondary btn-custom">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    /* Form Heading */
    .form-heading {
        font-size: 1.8rem;
        color: #5dcaff; /* Subtle blue for a modern touch */
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Custom Horizontal Line */
    .custom-hr {
        border: 0;
        height: 2px;
        background: #ffa726; /* Slight orange tint */
        margin-bottom: 20px;
    }

    /* Form Container */
    .form-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9; /* Light background for clean look */
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Labels */
    .form-label {
        font-size: 0.9rem;
        font-weight: 500;
        color: #444;
        margin-bottom: 5px;
    }

    /* Input Fields */
    .input-field {
        border-radius: 8px;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        width: 100%;
        transition: border-color 0.3s;
    }

        .input-field:focus {
            border-color: #5dcaff;
            outline: none;
            box-shadow: 0 0 4px rgba(93, 202, 255, 0.5);
        }

    /* Button Group */
    .button-group {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }

    /* Buttons */
    .btn-custom {
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 500;
        transition: background-color 0.3s;
    }

        .btn-custom:hover {
            background-color: #007bff;
            color: #fff;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

        input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}
</style>
